<template name="index">
  <section class="col-xs-12">
    <h1 class='text-center'> Music Mood Thing</h1>
    <form class="form-inline" action="index.html" method="post">
      <div class="form-group">
        <label for="mood">Mood</label>
        <select class="js-example-basic-multiple form-control col-md-2" name="mood" id="mood">
          {{#each moods}}
            <option value="{{name}}">{{name}}</option>
          {{/each}}
        </select>
        <label for="genre">Genre</label>
        <select class="js-example-basic-multiple form-control col-md-2" name="genre" id="genre">
          {{#each genres}}
            <option value="{{name}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
    </form>
  </section>
</template>
